name: CI (bleeding-edge)
# weekly check for stability against dev version of
# - numpy
# - matplotlib,
# - scipy

on:
  push:
    branches:
    - main

  pull_request:
    paths:
    - .github/workflows/bleeding-edge.yml

  schedule:
    # run this once a week (wednesday) at 3 am UTC
  - cron: 0 3 * * 3

  workflow_dispatch:

permissions: {}

jobs:
  tests:
    strategy:
      fail-fast: false

    runs-on: ubuntu-latest
    name: Test nightly dependencies

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
      with:
        python-version: '3.14'
        enable-cache: false
    - name: Configure uv
      run: |
        echo "UV_PRERELEASE=allow" >> $GITHUB_ENV
        echo "UV_INDEX=https://pypi.anaconda.org/scientific-python-nightly-wheels/simple" >> $GITHUB_ENV
        echo "UV_INDEX_STRATEGY=unsafe-best-match" >> $GITHUB_ENV

    # using pip compile + pip lock to workaround limitations of universal locking
    # in particular, this method is more reliable at ensuring we get nightly wheels
    # instead of building stable versions from source
    - name: Resolve and lock env
      run: |
        uv pip compile pyproject.toml \
          --all-extras --group test \
          --quiet \
          -o pylock.toml

    - name: Install env
      run: |
        uv venv
        uv pip sync pylock.toml
        uv pip install . --no-deps

    - name: Run pytest
      run: uv run --no-sync pytest --color=yes
